<footer class="page-footer" style="padding-top: 0">
  <div class="footer-copyright" style="padding: 0 15px;">
    © 2017 Bantu Teknologi
    <a class="grey-text text-lighten-4 right" href="https://bantu.my">Bantu.my</a>
  </div>
</footer>
    